NODE_ENV=""

# application
APPLICATION_PORT=0000

# client
CLIENT_PORT=0000

# postgres
POSTGRES_URI=""

POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# session
SESSION_SECRET=""
SESSION_NAME=""
SESSION_TTL_MS=0
SESSION_TTL_S=0

# redis
REDIS_HOST=""
REDIS_PORT=0000