NODE_ENV=""

# application
APPLICATION_PORT=0000
ALLOWED_ORIGIN=""

# client
CLIENT_PORT=0000

# postgres
POSTGRES_URI=""

POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# session
SESSION_SECRET=""
SESSION_NAME=""
SESSION_TTL=0

# redis
REDIS_URI="redis://client@host:port"
REDIS_HOST=""
REDIS_PORT=0000
REDIS_PREFIX=""

# graphql
GRAPHQL_PREFIX=""