NODE_ENV=""

# api
IPAPI_KEY=""

# application
APPLICATION_PORT=0000
ALLOWED_ORIGIN=""
APPLICATION_URL=""

# client
CLIENT_PORT=0000

# postgres
POSTGRES_URI="postgres://user:password@host:port/database"

POSTGRES_DATABASE=""
POSTGRES_HOST=""
POSTGRES_PORT=""
POSTGRES_USER=""
POSTGRES_PASSWORD=""

# session
SESSION_SECRET=""
SESSION_NAME=""
SESSION_TTL="" # StringValue

# redis
REDIS_URI="redis://client@host:port"

REDIS_HOST=""
REDIS_PORT=0000
REDIS_PREFIX=""

# graphql
GRAPHQL_PREFIX=""

# email service
MAIL_LOGIN=""
MAIL_PASSWORD=""
MAIL_HOST=""
MAIL_PORT=0000

EMAIL_FROM=""

# token
VERIFICATION_TOKEN_TTL="" # StringValue
DEACTIVATION_TOKEN_TTL="" # StringValue
RECOVERY_TOKEN_TTL="" # StringValue

DEACTIVATION_TOKEN_LENGTH=0

# account management
ACCOUNT_DELETION_INTERVAL="" # StringValue

# 2FA
TOTP_PINCODE_LENGTH=0
RECOVERY_CODE_COUNT=0

# encryption
ENCRYPTION_KEY=""
